<extend name="Layout/base" />
<block name="main">

<script type="text/javascript">
    $(function(){
        //自适应屏幕宽度
        window.onresize=function(){ location=location };

        var main_h = $(window).height();
        $('.hy_list').css('height',main_h-45+'px');

        var search_w = $(window).width()-40;
        $('.search').css('width',search_w+'px');
        $('.list_hy').css('width',search_w+'px');

        $('.xial_m span').click(function(){
            $(this).parent('.xial_m').siblings('.xl_ctn').toggle();
        });
    });
</script>

<div class="row">
    <div class="col-lg-12">
        <volist name="data1" id="vi">
        <if condition = "$Think.get.sid eq $vi['sort']">
            <h1 class="page-header">{$vi.name}</h1>
        </if>
        </volist>
    </div>
</div>
<div align="right">
    <a href="/Admin/People/add/sid/{$sid}"><h3>添加信息</h3> </a>
</div>
            <!--列表-->
            <table cellpadding="0" cellspacing="0" class="table table-striped table-bordered table-hover no-footer">
                <tr>
                    <th style="text-align: center" width="10%" scope="col">序列</th>
                    <th style="text-align: center" width="20%" scope="col">年份</th>
                    <th style="text-align: center" width="20%" scope="col">类型</th>
                    <th style="text-align: center" width="20%" scope="col">数量</th>
                    <th style="text-align: center" width="10%" scope="col">编辑</th>
                </tr>
                <volist name='data' id='vo'>
                    <tr>
                        <td align="center"><?php echo  ++$a ?></td>
                        <td align="left">{$vo.year}</td>
                        <td align="center">{$vo.month}</td>
                        <td align="center">{$vo.number}</td>
                        <td align="center">
                            <a href="/Admin/People/edit/id/{$vo.id}">修改</a>
                            <a onclick="return confirm('确定要删除吗？');" href="/Admin/People/quit/id/{$vo.id}">删除</a>
                        </td>
                    </tr>
                </volist>
            </table>
            <div class="pages" align="center">
                {$page}
            </div>

</block>
