<extend name="Layout/sub" />
<block name="nav">对标数据 / 新闻列表</block>
<block name="main">

<script type="text/javascript" src="/Public/{$Think.const.MODULE_NAME}/{$Think.const.CONTROLLER_NAME}/{$Think.const.ACTION_NAME}.js"></script>
<script type="text/javascript" src="__PUBLIC__/Common/echars/shine.js"></script>
<style>
			.pages a,
			.pages span {
				display: inline-block;
				padding: 2px 5px;
				margin: 0 1px;
				border: 1px solid #f0f0f0;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
			}
			
			.pages a,
			.pages li {
				display: inline-block;
				list-style: none;
				text-decoration: none;
				color: #58A0D3;
			}
			
			.pages a.first,
			.pages a.prev,
			.pages a.next,
			.pages a.end {
				margin: 0;
			}
			
			.pages a:hover {
				border-color: #50A8E6;
			}
			
			.pages span.current {
				background: #50A8E6;
				color: #FFF;
				font-weight: 700;
				border-color: #50A8E6;
			}
		</style>

<div id="outer">
    <ul id="tab">
    	<volist name="data5" id="vi">
        <li title="{$vi.name}" num="{$vi.sort}" <if condition = "$Think.get.sid eq $vi['sort']"> class="current" </if> >{$vi.name|msubstr=0,8,'utf-8'}</li>
        </volist>
    </ul>
    <div id="content">
<!--社会化管理人员情况-->
	<volist name="data5" id="ve">
        <ul <if condition="$Think.get.sid eq $ve['sort']"> style="display: block;" <else /> style="display: none;" </if> >
		
        	
        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<th scope="col">序列</th>
					<th scope="col">文章列表</th>
					<th scope="col">时间</th>
				</tr>
				<volist name="data" id="vo">
				<tr>
					<td><?php echo ++$a?></td>
					<td><a href="__URL__/cent/id/{$vo.id}">{$vo.title}</a></td>
					<td>{$vo.addtime}</td>
				</tr>
				</volist>
			</table>
        </ul>
    </volist>
            <div class="pages" align="center">
        	{$page}
        </div>

    </div>
</div>

<script src="/Public/Home/Static/js/jquery.min.js"></script>
<script>
	$(function(){
		window.onload = function()
		{
			var $li = $('#tab li');
			var $ul = $('#content ul');
			$li.click(function(){
				var num = $(this).attr("num");
				//console.log(num);
				var url = "<?php echo C('HOST_NAME'); ?>";
				console.log(url);
				window.location.href= url+"/Home/news/jour/sid/"+num;
				/*
				var $this = $(this);
				var $t = $this.index();
				$li.removeClass();
				$this.addClass('current');
				$ul.css('display','none');
				$ul.eq($t).css('display','block');
				*/
			})
		}
	});
</script>

</block>	
