<extend name="Layout/sub"/>
<block name="nav">安全生产 / 任务公示</block>
<block name="main">
<link rel="stylesheet" href="/Public/Home/Static/css/style2.css"/>

<div id="outer">
	<include file="Layout/left_safety"/>
	<div id="content">
		<ul style="display:block;">
			<div class="aqsc">
				<h3>DDDDDDDDD</h3>

				<div style="width: 1400px;margin: auto">
					<img width="1400px" src="{$Think.const.__APP_PUBLIC__}/images/index/dang.gif" style="width: 100%"/>
				</div>

			</div>
		</ul>
	</div>
</div>

</block>