<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <style type="text/css">
        body,
        html {
            width:100%;
            height:100%;
            margin:0;
            font-family:"微软雅黑";
        }

        #allmap {
            width:100%;
            height:100%;
        }

        #r-result {
            width:100%;
            margin-top:5px;
        }

        p {
            margin:5px;
            font-size:14px;
        }
        li { list-style:none; display:block;width:100%;}
        ul {width:100%;}
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZMeRv4P7zfn7c23xQRGK7fDo"></script>
    <title>企业位置</title>
</head>
<body>
<div id="allmap"></div>
</body>
</html>
<script type="text/javascript">
    // 百度地图API功能
    // 企业坐标
    var points = {$data};
    console.log(points);

    //创建标注点并添加到地图中
    function addMarker(points) {
        var myIcon = new BMap.Icon("{$Think.const.__APP_PUBLIC__}/images/index/tip_ico.png", new BMap.Size(27, 27), {
            anchor: new BMap.Size(13, 15),
            imageOffset: new BMap.Size(0, 0)
        });
        //循环建立标注点
        for (var i = 0, pointsLen = points.length; i < pointsLen; i++) {
            var point = new BMap.Point(points[i].lng, points[i].lat); //将标注点转化成地图上的点
            var label = new BMap.Label(points[i].id, {offset: new BMap.Size(30, 0)});
            var marker = new BMap.Marker(point, {icon: myIcon}, label); //将点转化成标注点

            map.addOverlay(marker);  //将标注点添加到地图上
            label.setStyle({
                color: "#000",                   //颜色
                fontSize: "14px",               //字号
                border: "1",
                height: "23px",                //高度
                textAlign: "center",            //文字水平居中显示
                lineHeight: "22px",            //行高，文字垂直居中显示
                background: "url({$Think.const.__APP_PUBLIC__}/images/index/tip.jpg)",    //背景图片，这是房产标注的关键！
                cursor: "pointer"
            });
            marker.setLabel(label);//显示地理名称
            //添加监听事件
            (function () {
                var thePoint = points[i];
                marker.addEventListener("click",
                    function () {
                        showInfo(this, thePoint);
                    });
            })();
        }
    }

    function showInfo(thisMarker, point) {
        //获取点的信息
        var sContent =
            '<ul style="margin:0 0 5px 0;padding:0.2em 0">'
            + '<li style="float:left;margin-right:10px;width:70px;height:110px;"><img src="{$Think.const.__APP_PUBLIC__}/images/index/house.png" ></li>'
            + '<li style="line-height: 26px;font-size: 14px;">'
            + '<span></span>' + point.id + '</li>'
            + '<li style="line-height: 26px;font-size: 14px;">'
            + '<span></span>' + point.name + '</li>'
            + '<li style="line-height: 26px;font-size: 14px;"><span style="display: inline-block;">查看详情：</span><a target="_blank" href="' + point.url + '">详情</a></li>'
            + '</ul>';
        var infoWindow = new BMap.InfoWindow(sContent); //创建信息窗口对象
        thisMarker.openInfoWindow(infoWindow); //图片加载完后重绘infoWindow
    }

    /**
     * jk地图中心点确定
     */
    var lng = "{:I('get.lng')}";		// jk获取区域坐标
    var lat = "{:I('get.lat')}";		// jk获取区域坐标
    var lev = 16;								// 缩放等级
    var map = new BMap.Map("allmap", {mapType: BMAP_HYBRID_MAP});
    map.centerAndZoom(new BMap.Point(lng, lat), lev);    // jk根据获取坐标确定地图中心点
    map.enableScrollWheelZoom(true);
    var mapType1 = new BMap.MapTypeControl({mapTypes: [BMAP_NORMAL_MAP, BMAP_HYBRID_MAP]});

    var overView = new BMap.OverviewMapControl();
    var overViewOpen = new BMap.OverviewMapControl({isOpen: true, anchor: BMAP_ANCHOR_BOTTOM_RIGHT});
    map.addControl(mapType1);          //2D图，卫星图
    map.addControl(overView);          //添加默认缩略地图控件
    map.addControl(overViewOpen);      //右下角，打开

    addMarker(points);

    var stCtrl = new BMap.PanoramaControl(); //构造全景控件
    stCtrl.setOffset(new BMap.Size(20, 40));
    map.addControl(stCtrl);//添加全景控件
</script>
