<extend name="Layout/base" />
<block name="main">

<div class="general">
	<ul>
		<h1>安全生产</h1>
		<li><a href="/index.php/Home/Safety/renwugongshi"><i class="fa fa-list fa-2x"></i><p>任务公示</p></a></li>
		<li><a href="/index.php/Home/Safety/anquanmubiao"><i class="fa fa-lock fa-2x"></i><p>区内重大安全目标工作</p></a></li>
		<li><a href="/index.php/Home/Safety/wxhxp"><i class="fa fa-flask fa-2x"></i><p>危险化学品</p></a></li>
		<li><a href="/index.php/Home/Safety/zdwxy"><i class="fa fa-map-marker fa-2x"></i><p>重大危险源</p></a></li>
		<li><a href="/index.php/Home/Safety/jxcs"><i class="fa fa-compass fa-2x"></i><p>九小场所</p></a></li>
		<li><a href="/index.php/Home/Safety/comlist"><i class="fa fa-industry fa-2x"></i><p>安全生产</p></a></li>
		<li><a href="/index.php/Home/Safety/wangluo"><i class="fa fa-user fa-2x"></i><p>安全员网络</p></a></li>
		<li><a href="/index.php/Home/Safety/gainian"><i class="fa fa-book fa-2x"></i><p>安全基本</p></a></li>
		<!--{* <li><a href="/index.php/Home/Safety/feedback"><i class="fa fa-bar-chart fa-2x"></i><p>部门建议</p></a></li> *}-->
		<li><a href="/index.php/Home/Safety/advicelist"><i class="fa fa-exclamation-triangle fa-2x"></i><p>领导批示</p></a></li>
	</ul>
</div>

</block>
