<extend name="Layout/sub" />
<block name="nav">安全生产 / 任务公示</block>
<block name="main">
<link rel="stylesheet" href="/Public/Home/Static/css/style2.css" />

<div id="outer">
	<include file="Layout/left_safety"/>
	<div id="content">
		<ul style="display:block;">
			<div class="aqsc">
				<h3>DDDDDDDDD</h3>


			<form action="__SELF__" method="get" class="sys_form">
		<label>关键字：</label>
		<input type="text" size="36" style="height: 27px" name="key"/>
		<input type="submit" value="查询" />
		<a class="shangbao" href="/index.php/Home/Safety/shehuiadd">添加</a>
	</form>
	<table border=1 class="sys_table">
		<tr>
			<th>序号</th>
			<th>标题</th>
			<th>内容</th>
			<th>上传时间</th>
			<th>编辑</th>
		</tr>
		<?php foreach($data as $k=>$v): ?>
			<tr>
				<td align="center"><?php echo ++$a ?></td>
				<td align="center">{$v.title}</td>
				<td align="center"><a href="/index.php/Home/Safety/shehuixq/id/{$v.id}">详情</a></td>
				<td align="center"><?php echo date('Y-m-d H:i:s',$v['time']) ?></td>
				<td align="center">
					<a href="/index.php/Home/Safety/shehuiedit/id/{$v.id}">修改</a>|
					<a href="/index.php/Home/Safety/shehuidel/id/{$v.id}" onclick="return confirm('确定要删除吗？');">删除</a>
				</td>
			</tr>
		<?php endforeach; ?>
	</table>
</div>
		</ul>
	</div>
</div>

</block>