<extend name="Layout/sub" />
<block name="nav">安全生产 / 任务公示</block>
<block name="main">
<link rel="stylesheet" href="/Public/Home/Static/css/style2.css" />

<div id="outer">
	<include file="Layout/left_safety"/>
	<div id="content">
		<ul style="display:block;">
			<div class="aqsc">
				<h3>DDDDDDDDD</h3>


			<center> <img src="{$Think.const.__APP_PUBLIC__}/Uploads/map.jpg" border="0" usemap="#Map">
                <map name="Map">
                  <area shape="poly" coords="675,335" href="#">
                  <area shape="poly" coords="671,340" href="#">
                  <area shape="poly" coords="690,326,776,350,838,327,968,230,992,117,928,85,839,44,685,94,526,102,386,149,266,140,137,117,98,117,38,269,93,337,222,397,329,406,389,479,404,531,566,542" href="aqsc.html">
                </map>
              </center>
		</div>
		</ul>
	</div>
</div>

</block>