<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>革镇堡街道挂图作战系统</title>
		<link rel="stylesheet" href="/Public/{$Think.const.MODULE_NAME}/{$Think.const.CONTROLLER_NAME}/{$Think.const.ACTION_NAME}.css" />
		<script type="text/javascript" src="/Public/Common/Js/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="/Public/{$Think.const.MODULE_NAME}/{$Think.const.CONTROLLER_NAME}/{$Think.const.ACTION_NAME}.js"></script>
		<script type="text/javascript">
			var login_page = "{$Think.const.HOST_NAME}/Home/Login/login";
		</script>
	</head>
	<body>
		<video autoplay>
			<source src="/Public/{$Think.const.MODULE_NAME}/{$Think.const.CONTROLLER_NAME}/{$Think.const.ACTION_NAME}.mp4" type="video/mp4" />
		</video>
		<span class="jump_button">跳过</span>
	</body>
</html>