.zl{width:1250px;height:580px;background-image:url(../Static/images/text.png);background-repeat:no-repeat;background-size:100% 85%;padding:35px; color:#FFF;}
.mainzl{width:1250px;height:530px; float:left;}
.mainzl h2{margin-bottom:30px;}
