<layout name="head"/>
<div class="contact">
<ul>
<li><img src="__PUBLIC__/images/contact1.png">大连市沙河口区昌平街61号社会教育学院801</li>
<li><img src="__PUBLIC__/images/contact2.png"><a href="tel:0411-88888888">0411-88888888</a>/<a href="tel:0411-66666666">66666666</a></li>
<li><img src="__PUBLIC__/images/contact3.png">888888@china.org.cn</li>
<li><img src="__PUBLIC__/images/contact4.png">大连百亿欧</li>
</ul>
<h1>留言</h1>
<textarea></textarea>
<button class="button3">提交</button>
<img src="__PUBLIC__/images/contact5.jpg" width="100%">
</div>
