<layout name="head"/>

<div class="personal_1">
<img src="__PUBLIC__/images/pic8.jpg">
<p>张佑赫    男<br>
运营董事<br>
13904110810</p>
</div>

<div class="personal">
<ul>
<li><img src="__PUBLIC__/images/personal5.png">站内信</li>
</ul>
</div>
<div class="mail">
<ul>
<li><span>2016.7.18</span><font>未读</font><img src="__PUBLIC__/images/mail.jpg"><a href="news_text.html">购物车订单购物车订单已发货购物车订单已发货</a></li>
<li><span>2016.7.18</span><font>未读</font><img src="__PUBLIC__/images/mail.jpg"><a href="#">购物车订单购物车订单已发货购物车订单已发货</a></li>
<li><span>2016.7.18</span><font>未读</font><img src="__PUBLIC__/images/mail.jpg"><a href="#">购物车订单购物车订单已发货购物车订单已发货</a></li>
<li><span>2016.7.18</span><font>未读</font><img src="__PUBLIC__/images/mail.jpg"><a href="#">购物车订单购物车订单已发货购物车订单已发货</a></li>
<li><span>2016.7.18</span><img src="__PUBLIC__/images/mail.jpg"><a href="#">购物车订单购物车订单已发货购物车订单已发货</a></li>
<li><span>2016.7.18</span><img src="__PUBLIC__/images/mail.jpg"><a href="#">购物车订单购物车订单已发货购物车订单已发货</a></li>
<li><span>2016.7.18</span><img src="__PUBLIC__/images/mail.jpg"><a href="#">购物车订单购物车订单已发货购物车订单已发货</a></li>
<li><span>2016.7.18</span><img src="__PUBLIC__/images/mail.jpg"><a href="#">购物车订单购物车订单已发货购物车订单已发货</a></li>
</ul>
</div>
