<layout name="head"/>

<div class="personal_1">
<img src="__PUBLIC__/images/pic8.jpg">
<p>张佑赫    男<br>
运营董事<br>
13904110810</p>
</div>

<div class="personal">
<ul>
<li><img src="__PUBLIC__/images/personal6.png">我的留言</li>
</ul>
</div>
<div class="message">
<dl>
<dt>我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的</dt>
<dd>回复：管理员回复管理员回复管理员回复管理员回复管理员回复管理员回复管理员回复管理员回复管理员回</dd>
</dl>
<dl>
<dt>我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的</dt>
<dd>回复：管理员回复管理员回复管理员回复管理员回复管理员回复管理员回复管理员回复管理员回复管理员回</dd>
</dl>
<dl>
<dt>我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的</dt>
<dd>回复：管理员回复管理员回复管理员回复管理员回复管理员回复管理员回复管理员回复管理员回复管理员回</dd>
</dl>
<dl>
<dt>我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的</dt>
<dd>回复：管理员回复管理员回复管理员回复管理员回复管理员回复管理员回复管理员回复管理员回复管理员回</dd>
</dl>
<dl>
<dt>我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的</dt>
<dd>回复：管理员回复管理员回复管理员回复管理员回复管理员回复管理员回复管理员回复管理员回复管理员回</dd>
</dl>
<dl>
<dt>我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的留言我的</dt>
<dd>回复：管理员回复管理员回复管理员回复管理员回复管理员回复管理员回复管理员回复管理员回复管理员回</dd>
</dl>
</div>

