body{ position: relative; }

video
{
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
}

source
{
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
}

.jump_button
{
	color: #FFF;
	font-weight: bold;
	text-shadow: 1px 1px 3px #000;
	font-size: 30px;
	letter-spacing: 5px;
	position: absolute;
	right: 80px;
	z-index: 2;
	opacity: 0.2;
	cursor: pointer;
}

.jump_button:hover{ opacity: 0.6; }
