/*图表大框*/
.echars{
	margin-top: 10px; 
	width: 100%;
	/*background: #CAF3E9;*/
	height: 500px;
}
/*图表1*/
.echars1{
	width: 50%;
	height: 500px;
	/*background: #DFD0F6;*/
	float: left;
}
#main1{
	width: 100%;
	height: 100%;
	margin: auto;
}
/*图表2*/
.echars2{
	width: 50%;
	height: 500px;
	/*background: #EBEDD7;*/
	float: right;
}
#main2{
	width: 100%;
	height: 100%;
	margin: auto;
}

#main4{
	width: 100%;
	height: 100%;
	margin: auto;
}


#shxf1{
    width: 100%;
    height: 100%;
    margin: auto;
}

#shxf2{width: 100%;height: 100%;margin: auto;}

/*增长箭头*/
.trendUp{
	color: red;
}
/*下降箭头*/
.trendDown{
	color: green;
}
/*合计数值*/
.hj{
	color: red;
}
