<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
		body,
		html {
			width: 100%;
			height: 100%;
			margin: 0;
			font-family: "微软雅黑";
		}

		#allmap {
			width: 100%;
			height: 100%;
		}

		#r-result {
			width: 100%;
			margin-top: 5px;
		}

		p {
			margin: 5px;
			font-size: 14px;
		}
	</style>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZMeRv4P7zfn7c23xQRGK7fDo"></script>
	<title>应急避难场所</title>
</head>

<body>
<div id="allmap"></div>
</body>

</html>
<script type="text/javascript">
	// 百度地图API功能
	//新建三个地图上点
	var points = [
		{ "lng": 121.540166, "lat": 39.010081, "url": "#", "id": "中心小学", "name": "<img src='{$Think.const.__APP_PUBLIC__}/images/index/binan/01.jpg' width='220' height='160' />" },
		{ "lng": 121.534961, "lat": 39.018278, "url": "#", "id": "66中学", "name": "<img src='{$Think.const.__APP_PUBLIC__}/images/index/binan/02.jpg' width='220' height='160' />" },
		{ "lng": 121.534717, "lat": 39.022691, "url": "#", "id": "后革应急避难场所", "name": "<img src='{$Think.const.__APP_PUBLIC__}/images/index/binan/03.jpg' width='220' height='160' />" },
		{ "lng": 121.545596, "lat": 39.020631, "url": "#", "id": "后革小学", "name": "<img src='{$Think.const.__APP_PUBLIC__}/images/index/binan/04.jpg' width='220' height='160' />" },
		{ "lng": 121.496529, "lat": 39.027603, "url": "#", "id": "大职院体育馆", "name": "<img src='{$Think.const.__APP_PUBLIC__}/images/index/binan/05.jpg' width='220' height='160' />" },
		{ "lng": 121.494309, "lat": 39.024316, "url": "#", "id": "如家客舍", "name": "<img src='{$Think.const.__APP_PUBLIC__}/images/index/binan/06.jpg' width='220' height='160' />" },
		{ "lng": 121.488457, "lat": 39.014782, "url": "#", "id": "阳光养老院", "name": "<img src='{$Think.const.__APP_PUBLIC__}/images/index/binan/07.jpg' width='220' height='160' />" },
		{ "lng": 121.57787, "lat": 39.052617, "url": "#", "id": "棋盘村临时安置点", "name": "<img src='{$Think.const.__APP_PUBLIC__}/images/index/binan/08.jpg' width='220' height='160' />" },
		{ "lng": 121.530242, "lat": 39.035579, "url": "#", "id": "夏家河子应急避难场所", "name": "<img src='{$Think.const.__APP_PUBLIC__}/images/index/binan/09.jpg' width='220' height='160' />" },
		{ "lng": 121.524636, "lat": 39.021005, "url": "#", "id": "夏家河子应急避难场所", "name": "<img src='{$Think.const.__APP_PUBLIC__}/images/index/binan/10.jpg' width='220' height='160' />" },
		{ "lng": 121.51012, "lat": 39.023191, "url": "#", "id": "夏家河子应急避难场所", "name": "<img src='{$Think.const.__APP_PUBLIC__}/images/index/binan/11.jpg' width='220' height='160' />" },
		{ "lng": 121.499627, "lat": 39.028566, "url": "#", "id": "渤海居民委应急避难场所", "name": "<img src='{$Think.const.__APP_PUBLIC__}/images/index/binan/12.jpg' width='220' height='160' />" }
	];
	//创建标注点并添加到地图中
	function addMarker(points) {
		var myIcon = new BMap.Icon("{$Think.const.__APP_PUBLIC__}/images/index/tip_ico.png", new BMap.Size(27,27),{
			anchor:new BMap.Size(13,15),
			imageOffset:new BMap.Size(0,0)
		});
		//循环建立标注点
		for (var i = 0, pointsLen = points.length; i < pointsLen; i++) {
			var point = new BMap.Point(points[i].lng, points[i].lat); //将标注点转化成地图上的点
			var label = new BMap.Label(points[i].id, { offset: new BMap.Size(30, 0) });
			var marker = new BMap.Marker(point,{icon:myIcon},label); //将点转化成标注点

			map.addOverlay(marker);  //将标注点添加到地图上
			label.setStyle({
				color: "#000",                   //颜色
				fontSize: "14px",               //字号
				border:"1",
				height: "23px",                //高度
				textAlign: "center",            //文字水平居中显示
				lineHeight: "22px",            //行高，文字垂直居中显示
				background: "url({$Think.const.__APP_PUBLIC__}/images/index/tip.jpg)",    //背景图片，这是房产标注的关键！
				cursor: "pointer"
			});
			marker.setLabel(label);//显示地理名称
			//添加监听事件
			(function () {
				var thePoint = points[i];
				marker.addEventListener("click",
					function () {
						showInfo(this, thePoint);
					});
			})();
		}
	}
	function showInfo(thisMarker, point) {
		//获取点的信息
		var sContent =
			    '<ul style="margin:0 0 5px 0;padding:0.2em 0">'
			    + '<li style="line-height: 26px;font-size: 14px;">'
			    + '<span></span>' + point.id + '</li>'
			    + '<li style="line-height: 26px;font-size: 14px;">'
			    + '<span></span>' + point.name + '</li>'
			    + '<li style="line-height: 26px;font-size: 14px;"></li>'
			    + '</ul>';
		var infoWindow = new BMap.InfoWindow(sContent); //创建信息窗口对象
		thisMarker.openInfoWindow(infoWindow); //图片加载完后重绘infoWindow
	}

	var map = new BMap.Map("allmap", { mapType: BMAP_HYBRID_MAP });
	map.centerAndZoom(new BMap.Point(121.516318,39.022448), 14);
	map.enableScrollWheelZoom(true);
	var mapType1 = new BMap.MapTypeControl({ mapTypes: [BMAP_NORMAL_MAP, BMAP_HYBRID_MAP] });

	var overView = new BMap.OverviewMapControl();
	var overViewOpen = new BMap.OverviewMapControl({ isOpen: true, anchor: BMAP_ANCHOR_BOTTOM_RIGHT });
	map.addControl(mapType1);          //2D图，卫星图
	map.addControl(overView);          //添加默认缩略地图控件
	map.addControl(overViewOpen);      //右下角，打开


	addMarker(points);



</script>