<extend name="Layout/sub"/>
<block name="nav">城市防灾 / 河道、水库</block>
<block name="main">
<link rel="stylesheet" href="/Public/Home/Static/css/style2.css"/>

<div id="outer">
	<include file="Layout/left_disaster"/>
	<div id="content">
		<ul style="display:block;">
			<div class="aqsc">
				<h3>河道、水库</h3>
				<div class="div">
					<img src="/Public/Home/Disaster/qipan.gif" width="49%" alt="">
					<img src="/Public/Home/Disaster/xiajia.gif" width="49%" alt="">
				</div>

			</div>
		</ul>
	</div>
</div>

</block>