<extend name="Layout/sub" />
<block name="nav">文化体育 / 健身广场</block>
<block name="main">

<script type="text/javascript" src="/Public/{$Think.const.MODULE_NAME}/{$Think.const.CONTROLLER_NAME}/{$Think.const.ACTION_NAME}.js"></script>
<script type="text/javascript" src="__PUBLIC__/Common/echars/shine.js"></script>

<div id="outer">
<include file="Layout/left_sports"/>
    <div id="content">
<!--社会化管理人员情况-->
		<div class="data05">
			<h3 style="color: #fff">当年统计数据</h3>
        	<div id="main1" style="width: 100%;height: 100%"></div>
        </div>
        <ul style="display:block;">
            <div class="aqsc">
                <h3>健身广场</h3>
                <div class="div">		   	
        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<th scope="col">序号</th>
					<th scope="col">单位</th>
					<th scope="col">健身广场名称</th>
					<th scope="col">面积（平方米）</th>
					<th scope="col">健身路径数量</th>
				</tr>
				<volist name="data" id="vo">
				<tr>
					<td><?php echo ++$a?></td>
					<td>{$vo.name}</td>
					<td>{$vo.gcmc}</td>
					<td>{$vo.area}</td>
					<td>{$vo.number}</td>
				</tr>
				</volist>
			</table>
		</div>
	</div>
</ul>
    </div>
</div>
</block>	
