<extend name="Layout/sub"/>
<block name="nav">城市管理 / 安全上报</block>
<block name="main">
<link rel="stylesheet" href="/Public/Home/Static/css/style2.css"/>

<div id="outer">
	<include file="Layout/left_city"/>
	<div id="content">
		<ul style="display:block;">
			<div class="aqsc">
				<h3>安全上报</h3>
				<div class="search_2">
					<form action="__SELF__" method="get" class="sys_form">
					<input class="sea" type="text" name="key" value="{:I('key')}" placeholder="请您输入要查询关键字"/>
					<input class="sub" type="submit" value="查询"/>
					</form>
				</div>
				<a class="tj" href="/index.php/Home/City/chengshisafeadd">添加</a>
				<div class="div">
					<table border=1 class="sys_table">
						<tr>
							<th>序号</th>
							<th>标题</th>
							<th>内容</th>
							<th>上传时间</th>
							<th>编辑</th>
						</tr>
						<?php foreach($data as $k=>$v): ?>
						<tr>
							<td align="center"><?php echo ++$a ?></td>
							<td align="center">{$v.title}</td>
							<td align="center">
								<a href="/index.php/Home/Safety/jiaotongxq/id/{$v.id}">详情</a>
							</td>
							<td align="center"><?php echo date('Y-m-d H:i:s',$v['time']) ?></td>
							<td align="center">
								<a href="/index.php/Home/City/chengshisafeedit/id/{$v.id}">修改</a>|
								<a href="/index.php/Home/City/chengshisafedel/id/{$v.id}" onclick="return confirm('确定要删除吗？');">删除</a>
							</td>
						</tr>
						<?php endforeach; ?>
					</table>
				</div>

			</div>
		</ul>
	</div>
</div>

</block>