<extend name="Layout/sub"/>
<block name="nav">城市管理 / 区内重大安全目标工作</block>
<block name="main">
<link rel="stylesheet" href="/Public/Home/Static/css/style2.css"/>

<div id="outer">
	<include file="Layout/left_city"/>
	<div id="content">
		<ul style="display:block;">
			<div class="aqsc">
				<h3>区内重大安全目标工作</h3>
				<div class="div">


					<script type="text/javascript">
						var plan_list_json = '{$plan_list_json}';
					</script>

					<div style="margin: auto;text-align: center">
						<div>
							<img style="margin: auto" width="1200px" src="{$Think.const.__APP_PUBLIC__}/images/index/feipin/qipancun.jpg">
						</div>
					</div>
				</div>

			</div>
		</ul>
	</div>
</div>

</block>