
  <layout name="head"/>
  <div class="news"> 
   <dl>
    <a href="news_text.html"> 
     <dt>
      <img src="__PUBLIC__/images/news1.jpg" />
     </dt> 
     <dd> 
      <span>百亿欧最新资讯百亿欧最新资讯百亿欧最新资讯百亿欧最新资讯</span> 
      <font>2016-7-14</font> 
      <p>2016年7月21日，中国最大的跨境母婴电商蜜芽，在上海举办了蜜芽风尚大典，发布了基于300万用户消费行为数据的《2016蜜芽母婴风尚榜单》，评选出最受中国用户喜爱的名单，百亿欧榜单有名</p> 
     </dd></a> 
   </dl> 
   <dl>
    <a href="#"> 
     <dt>
      <img src="__PUBLIC__/images/news1.jpg" />
     </dt> 
     <dd> 
      <span>百亿欧最新资讯百亿欧最新资讯百亿欧最新资讯百亿欧最新资讯</span> 
      <font>2016-7-14</font> 
      <p>2016年7月21日，中国最大的跨境母婴电商蜜芽，在上海举办了蜜芽风尚大典，发布了基于300万用户消费行为数据的《2016蜜芽母婴风尚榜单》，评选出最受中国用户喜爱的名单，百亿欧榜单有名</p> 
     </dd></a> 
   </dl> 
   <dl>
    <a href="#"> 
     <dt>
      <img src="__PUBLIC__/images/news1.jpg" />
     </dt> 
     <dd> 
      <span>百亿欧最新资讯百亿欧最新资讯百亿欧最新资讯百亿欧最新资讯</span> 
      <font>2016-7-14</font> 
      <p>2016年7月21日，中国最大的跨境母婴电商蜜芽，在上海举办了蜜芽风尚大典，发布了基于300万用户消费行为数据的《2016蜜芽母婴风尚榜单》，评选出最受中国用户喜爱的名单，百亿欧榜单有名</p> 
     </dd></a> 
   </dl> 
   <dl>
    <a href="#"> 
     <dt>
      <img src="__PUBLIC__/images/news1.jpg" />
     </dt> 
     <dd> 
      <span>百亿欧最新资讯百亿欧最新资讯百亿欧最新资讯百亿欧最新资讯</span> 
      <font>2016-7-14</font> 
      <p>2016年7月21日，中国最大的跨境母婴电商蜜芽，在上海举办了蜜芽风尚大典，发布了基于300万用户消费行为数据的《2016蜜芽母婴风尚榜单》，评选出最受中国用户喜爱的名单，百亿欧榜单有名</p> 
     </dd></a> 
   </dl> 
  </div> 
  <div class="page">
   <a href="#">————加载更多————</a>
  </div>   
