<extend name="Layout/base"/>
<block name="main">
    <script type="text/javascript">
        $(function () {
            //自适应屏幕宽度
            window.onresize = function () {
                location = location
            };

            var main_h = $(window).height();
            $('.hy_list').css('height', main_h - 45 + 'px');

            var search_w = $(window).width() - 40;
            $('.search').css('width', search_w + 'px');
            $('.list_hy').css('width', search_w + 'px');

            $('.xial_m span').click(function () {
                $(this).parent('.xial_m').siblings('.xl_ctn').toggle();
            });
        });
    </script>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">项目管理</h1>
        </div>
    </div>

    <!--查询-->
    <form id="search" action="__SELF__" method="get">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group row">
                    <div class="col-lg-12">
                        <label>
                            关键字
                            <input name="key" type="text" value="{$Think.get.key}" class="form-control-inline">
                        </label>
                        <button type="submit" class="btn btn-sm btn-primary">查询</button>
                        <a href="/index.php/Admin/Focus/projectadd" class="btn btn-sm btn-primary pull-right">添加</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--查询-->

    <!--列表-->
    <form action="" method="post">
        <table cellpadding="0" cellspacing="0" class="table table-striped table-bordered table-hover no-footer">
            <tr>
                <th style="text-align: center" scope="col">序列</th>
                <th style="text-align: center" scope="col">项目名称</th>
                <th style="text-align: center" scope="col">项目类型</th>
                <th style="text-align: center" scope="col">责任领导</th>
                <th style="text-align: center" scope="col">督办时间</th>
                <th style="text-align: center" scope="col">预计完成时间</th>
                <th style="text-align: center" scope="col">编辑</th>
            </tr>
            <?php foreach($data as $k=>$v): ?>
            <tr>
                <td align="center"><?php echo ++$a ?></td>
                <td align="center">{$v.name}</td>
                <td align="center">{$v.type}</td>
                <td align="center">{$v.leader}</td>
                <td align="center">{$v.add_time}</td>
                <td align="center">{$v.finish_time_plan}</td>
                <td align="center">
                    <a href="projectedit/id/{$v.id}">修改</a> |
                    <a onclick="return confirm('确定要删除吗？');" href="projectdel/id/{$v.id}">删除</a>
                </td>
            </tr>
            <?php endforeach; ?>
            <tr align="right">
                <td colspan="8" style="padding-right: 20px"><?php echo $page ?></td>
            </tr>
        </table>
    </form>
</block>
