<extend name="Layout/sub"/>
<block name="nav">应急管理 / 革镇堡街道突发大规模群体事件应急预案</block>
<block name="main">
<link rel="stylesheet" href="/Public/Home/Static/css/style2.css"/>

<div id="outer">
	<include file="Layout/left_video"/>
	<div id="content">
		<ul style="display:block;">
			<div class="aqsc">
				<h3>革镇堡街道突发大规模群体事件应急预案</h3>

				<div style="width: 90%;height: auto;margin: auto;padding: 60px 0px 0px 0px">
					<div style="width: 100%;height: auto;margin: auto;font-size: 30px;line-height: 60px">革镇堡街道突发大规模群体事件应急预案</div>
					<div style="width: 100%;height: auto;font-size: 14px;line-height:28px">
						<p>为进一步完善全街突发信访问题应急处置机制，积极推进信访应急处置工作的法制化、科学化、制度化建设，全面提高各村处置突发信访问题的能力，最大程度地预防和减少突发信访问题的发生，消除和降低突发问题造成的影响，切实维护社会稳定，为我街道建设创造和谐稳定的良好环境。依据国务院《信访条例》、《大连市人民政府突发公共事件总体应急预案》和《大连市突发群体性事件应急预案》，《甘井子区突发群体性事件应急预案》结合工作实际，制定本预案。<br/>
							一、工作原则 <br/>
							<strong>1.以人为本，减少影响。</strong>切实履行街道和政府工作部门的社会管理和公共服务职能，以人为本，依法处置，把突发信访问题的影响控制在最小范围内，最大程度地减少突发信访问题可能造成的不良影响。
							<br/>
							<strong>2.预防为主，及早稳控。</strong>要建立健全矛盾纠纷排查调处机制，掌握动向，抓好预防，对苗头性、倾向性、趋势性信访问题，做到早发现、早报告、早控制、早解决，快速将问题解决在基层，把矛盾化解在萌芽状态。
							<br/>
							<strong>3.统一领导，分工协作。</strong>要在街道突发信访问题应急处置领导小组的统一领导下，按照条块结合、以块为主，分工负责、有机协作的原则，做好疏导、劝解、调处等处置工作。
							<br/>
							<strong>4.属地管理，分级负责。</strong>要坚持&#8220;属地管理，分级负责&#8221;、&#8220;谁主管，谁负责&#8221;的原则，建立健全上下联动的突发信访问题应急处置机制，做到临机处置不紊乱，分级负责不推诿。
							<br/>
							<strong>5.疏导教育，及时化解。</strong>要本着宜散不宜聚、宜解不宜结、宜顺不宜激的目的，坚持教育疏导为主，劝解遣散为辅。做到谈清问题、讲明政策，解疑释惑、理顺情绪，化解矛盾、尽快劝返，防止矛盾激化。
							<br/>
							<strong>6.快速反应，正确处置。</strong>要建立健全处置突发信访问题快速反应机制，确保发现、报告、指挥、处置、实施等环节紧密衔接，做到反应快速，应对正确，临机决断，依法处置。
							<br/>
							二、成立突发信访问题应急处置领导小组 <br/>
							<strong>1.应急领导小组组成</strong><strong> </strong><br/>
							组　长：孙北文　街道党工委书记 <br/>
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp赵双勇　街道办事处主任
							<br/>
							副组长：苏德雨　街道政法工委书记 <br/>
							组　员：刘　富　街道信访办主任 <br/>
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp袁德平　街道综治办主任
							<br/>
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp王　上　街道公安派出所所长
							<br/>
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp王冰冰　街道边防派出所所长
							<br/>
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp李万康　街道法院院长
							<br/>
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp阎崇军　鞍子山村书记
							<br/>
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp曲振东　夏家河子村主任
							<br/>
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp王德强　后革村书记
							<br/>
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp陈君龙　中革村书记
							<br/>
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp金　松　羊圈子村书记
							<br/>
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp王　萍　棋盘村书记
							<br/>
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp高秀凤　渤海居委会主任
							<br/>
							信访工作联席会议成员单位领导 <br/>
							领导小组办公室设在街道信访办，信访办主任兼任办公室主任。 <br/>
							<strong>2.领导小组主要职责</strong><strong> </strong><br/>
							（1）统一领导、指挥、协调突发信访问题的处置工作； <br/>
							（2）确定相关部门和单位的职责及具体分工； <br/>
							（3）研究制定信访问题处置措施，组织、协调相关部门及单位并加强监督； <br/>
							（4）研究、制定信息发布的具体措施； <br/>
							（5）根据区街道应急办的统一部署，落实好各项处置要求和交办任务。同时，根据工作需要向上级提出相关工作建议； <br/>
							（6）研究解决信访问题处置过程中的其他重大事项。 <br/>
							各村、单位党政主要领导是突发信访问题处置工作的第一责任人，分管领导是直接责任人，专兼职信访干部是具体责任人。要制定本单位突发信访问题应急预案和领导机构。<br/>
							三、突发信访问题分级标准 <br/>
							按照上级有关规定，结合我街道实际，根据突发信访问题的紧急程度、形成的规模、行为方式和激烈程度、可能造成的影响程度、可能发展蔓延的趋势等因素划分为4个等级：&#8544;级(特别重大)、&#8545;级(重大)、&#8546;级(较大)和&#8547;级(一般)。
							<br/>
							<strong>&#8544;级（特别重大）：</strong>200人以上来街道<strong>，</strong>100人以上去区、50人以上到市、20人以上去省、10人以上进京；严重围堵、冲击国家机关，损坏办公设施，拦截公务车辆，或者殴打接访人员或工作人员；在政府门前、信访接待场所自焚、自残。
							<br/>
							<strong>&#8545;级（重大）：</strong>100人来街道、50人以上到区、20人以上到市、10人以上去省、7人以上进京；在政府机关周围非法聚集，呼喊口号、拉扯标语横幅；在政府门前发生寻短、服药或其他恶性上访行为。
							<br/>
							<strong>&#8546;级（较大）：</strong>50人以上来街道、30人以上到区、10人以上去市、省、5人以上进京；非法聚集、滞留、滋事，围堵机关、或者侮辱、谩骂、威胁接访人员或工作人员；来访人员在接待过程中发病需紧急救治；来访人员患有恶性传染病；5人以上来访人员因信访事项关系重大，影响民生，责任单位久拖不决，上访人员要求见领导。
							<br/>
							<strong>&#8547;级（一般）：</strong>50人以下来街道、30人以下到区市、10人以下去省、5人以下进京。 <br/>
							<strong>四、</strong>应急响应 <br/>
							<strong>1.特别重大（&#8544;级）和重大（&#8545;级）信访问题应急响应</strong> <br/>
							特别重大（&#8544;级）和重大（&#8545;级）信访问题发生后，事发村或单位、政府相关部门（属事责任单位和属地街道）应在街道突发信访问题应急处置领导小组的统一指挥下，积极开展处置工作。
							<br/>
							（1）立即召开信访工作领导小组会议，通报上访情况和接待处理情况，分析研究可能出现的重大问题及对策。 <br/>
							（2）立即将上访情况和接待处理情况向本级党委、政府报告。同时报上级相关部门，请求有关部门给予帮助和支持。 <br/>
							（3）街道党委、政府有关领导、属事属地责任单位领导、公安机关有关领导必须立即赶赴事发现场，对已发生的群众集体上访，认真对待，做到有访必接，防止矛盾激化，把上访群众稳定在当地。
							<br/>
							（4）坚决劝阻集体进京、去省上访，对已进京、去省的集体上访群众，事发村或单位政府相关部门（属事部门）尽快派人将他们接回，做好疏导工作。
							<br/>
							（5）在街道机关周围非法聚集、呼喊口号、拉扯标语横幅的，信访办、综治办、公安部门要对其进行劝阻、批评或者教育；对不听劝告、煽动闹事、寻衅滋事、围攻谩骂工作人员的组织者和主要参与者，由公安部门现场取证，采取果断措施强行带离，依法处理。
							<br/>
							（6）在街道政府门前发生寻短、服药或其他恶性上访行为的，由蓝鲨安保人员负责立即采取措施制止并报公安部门依法处置。到市去省进京上访人员发生寻短、服药或其他恶性上访行为，属事责任单位或驻京工作人员要立即赶往事发现场，根据情况开展协调急救、配合当地公安部门妥善处理，并及时将事态报告区委区政府及相关部门。属地街道或政府相关部门接到通报后（在接到上级要求后），立即按要求派人进京去省到市来区进行妥善处置。
							<br/>
							<strong>2.较大（&#8546;级）、一般（</strong>&#8547;级<strong>）信访问题应急响应</strong>
							<br/>
							较大（&#8546;级）和一般突发性信访问题发生后，属事属地单位党政主要领导应及时、准确将情况上报街、区委政法委、应急办，迅速研究处置方案，选派得力人员进京、去省或到市来区街事发现场，认真开展接访劝返工作，妥善处置，尽快接回，做好教育疏导工作。
							<br/>
							（1）来访人在接待过程中发病需紧急救治的，应迅速通知街区卫生所医务人员到场，必要时将病人送医院急救。进京、去省、到市、来区、街上访人员在信访过程中发病需紧急救治的，属地街道、村或相关部门（属事责任单位和属地街道）接到通知后立即派人到事发地，处置相关事宜并负责急救费用。
							<br/>
							（2）来访人员患有恶性传染病的，应迅速通知区卫生所医务人员及属地街道到场，迅速将病人带离。 <br/>
							（3）五人以上来访人员，因信访事项关系重大，影响民生，责任单位久拖不决，上访人员要求见领导的，信访办及时向主管领导汇报，并通知属地村（属事责任单位）党政主要领导，必要时由主管领导和属地（属事单位）党政领导接待处理。
							<br/>
							五、信息报送 <br/>
							信息收集和报送应做到及时、客观、全面、准确。 <br/>
							<strong>1.信息采取分级报送的原则。</strong><strong> </strong><br/>
							对特别重大（&#8544;级）、重大（&#8545;级）、较大（&#8546;级）突发信访问题立即上报街道领导、区委、区政府、政法委、应急办，同时上报市信访局（半个小时内口头报告，1个小时内书面报告）。一般（&#8547;级）突发信访问题和特殊情况，立即报分管领导。
							<br/>
							<strong>2.信息报送内容。</strong><strong> </strong><br/>
							（1）突发信访问题。<strong> </strong><br/>
							（2）突发信访问题发生的时间、地点和现场情况。 <br/>
							（3）突发信访问题发生的经过、参与人员数量。 <br/>
							（4）突发信访问题发生的原因分析。 <br/>
							（5）突发信访问题发展趋势的分析、预测。 <br/>
							（6）突发信访问题发生后已经采取的措施、效果及下一步工作方案。 <br/>
							（7）其他需要报告的事项。 <br/>
							<strong>3.信息报送形式。</strong><strong> </strong><br/>
							（1）通过电话口头初报。 <br/>
							（2）及时报送《信访情况》。采取传真、网络等载体及时报送。 <br/>
							（3）以《信访专报》书面形式报送。&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
						</p>                           
					</div>
				</div>

			</div>
		</ul>
	</div>
</div>

</block>