<extend name="Layout/sub"/>
<block name="nav">应急管理 / 革镇堡街道火灾消防救援应急预案</block>
<block name="main">
<link rel="stylesheet" href="/Public/Home/Static/css/style2.css"/>

<div id="outer">
	<include file="Layout/left_video"/>
	<div id="content">
		<ul style="display:block;">
			<div class="aqsc">
				<h3>革镇堡街道火灾消防救援应急预案</h3>

				<div style="width: 90%;height: auto;margin: auto;padding: 60px 0px 0px 0px">
					<div style="width: 100%;height: auto;margin: auto;font-size: 30px;line-height: 60px">革镇堡街道火灾消防救援应急预案</div>
					<div style="width: 100%;height: auto;font-size: 14px;line-height:28px">
						为进一步规加强街道和应急处置力量，根据区政府应急办《关于做好2018年度应急预案修订工作的通知》有关要求，结合我中队实际情况，做好2018年度应急处置，制定本方案。<br/>
						<strong>一、组织机构</strong><br/>
						为加强街道和应急处置力量，革镇堡中队成立应急小组。<br/>
						组 长：刘书松<br/>
						副组长：宋 杰 杨 强<br/>
						成 员：刘义国 于朋伟 李太成 蒋 明 佟建生<br/>
						<strong>二、等级划分</strong><br/>
						按照公安部《关于调整火灾等级标准的通知》（公消〔2007〕234号），本预案分为以下三级：<br/>
						一级预案：发生造成30人以上死亡，或者100人以上重伤，或者1亿元以上直接财产损失的特别重大火灾事故，或者涉及面极广、社会影响极大的火灾事故时，启动一级预案；<br/>
						二级预案：发生造成10人以上30人以下死亡，或者50人以上100人以下重伤，或者5000万元以上1亿元以下直接财产损失的重大火灾事故，或者涉及面非常广、社会影响非常大的火灾事故时，启动二级预案；<br/>
						三级预案：发生造成3人以上10人以下死亡，或者10人以上50人以下重伤，或者1000万元以上，5000万元以下直接财产损失的较大火灾，或者涉及面比较广、社会影响比较大的火灾事故时，启动三级预案。<br/>
						<strong>三、启动程序</strong><br/>
						（一）当发生需要启动本预案的火灾时，中队值班室接到指挥中心通知后立即向大队领导汇报；<br/>
						（二）当日情报值班首长向指挥中心汇报情况，通过支队调度指挥中心以电话和短信双重方式通知相关领导到指定位置集结；<br/>
						（三）各组相关人员接到调度指挥中心命令后立即前往指定位置，到场后统一到当日值班情报参谋处报到，由情报参谋统计到场人员和时间，并按本预案分工立即开展工作；<br/>
						<strong>四、应急方法</strong><br/>
						1、当发生交通伤亡事故后，首先由管辖中队立即调派人员对受到伤害者进行抢救，并立即向指挥中心汇报调集增援力量。<br/>
						2、当发生火情灾害后，中队首先向知情人了解相关情况，根据灾害严重性，向指挥中心汇报。必要时要求加强增援力量。<br/>
						<strong>五、工作要求</strong><br/>
						1、高度重视、加强领导。充分认识到火灾救援工作的重要性，认真研究预案，明确分工，责任到人，加强协同配合，克服麻痹思想和经验主义。灭火救援小组在救援期间不得马虎大意。<br/>
						2、精心组织，科学部署。各任务单位要以实战应用为重点，针对保卫区域内可能发生的灾害事故，立足本单位救援小组的力量，有针对性的进行准备和训练，确保救援工作万无一失。<br/>
						3、信息上报，准确迅速。灭火救援小组在救援或增援途中，要随时和支队作战指挥中心保持联系，到达现场后，及时将有关情况第一时间汇报。<br/>
						<strong>六、注意事项</strong><br/>
						1、决不允许安排经验少官兵在一线参灭火救援任务，决不允许在不了解现场情况下盲目进入内功，决不允许穿着非专用灭火救援装备进行灭火，坚决防止救援过程中因防护不到位、操作不规范导致官兵伤亡。<br/>
						2、所有救援人员必须加强安全防护意识，在内功救人时，作业人员要严格要求做好安全防护，要以小组为单位，不得单独盲目行动。<br/>
						3、随时与中队指挥员保持联系，获取最新的信息。<br/>
						4、加强与医院、交警、公安、水电等联动单位进行联系，做好后勤保障工作。<br/>
						<div style="text-align: right">革镇堡消防中队<br/>2018年5月18日</div>
					</div>
				</div>

			</div>
		</ul>
	</div>
</div>

</block>