<extend name="Layout/sub"/>
<block name="nav">应急管理 / 历史查看</block>
<block name="main">
<link rel="stylesheet" href="/Public/Home/Static/css/style2.css"/>

<div id="outer">
	<include file="Layout/left_video"/>
	<div id="content">
		<ul style="display:block;">
			<div class="aqsc">
				<h3>历史查看</h3>

				<table border="1px" cellspacing="0">
					<tr>
						<th>序号</th>
						<th>报警标题</th>
						<th>报警时间</th>
						<th>详细地址</th>
						<th>突发事件</th>
						<th>事件等级</th>
						<th>响应分级</th>
						<th width="25%">接警描述</th>
					</tr>
					<tr>
						<td align="center">1</td>
						<td align="center">地震</td>
						<td align="center">2018-6-17</td>
						<td align="center">大连市中山区东港</td>
						<td align="center">事故灾难</td>
						<td align="center">二级</td>
						<td align="center">Ⅲ级响应</td>
						<td align="center">阿萨德阿萨德阿萨德阿萨德撒的时</td>
					</tr>
					<tr>
						<td align="center">2</td>
						<td align="center">风暴</td>
						<td align="center">2018-5-13</td>
						<td align="center">大连市西岗区</td>
						<td align="center">事故灾难</td>
						<td align="center">三级</td>
						<td align="center">Ⅲ级响应</td>
						<td align="center">大厦方块了和看见了收打火机看到访开两间按时</td>
					</tr>
					<tr>
						<td align="center">3</td>
						<td align="center">台风</td>
						<td align="center">2018-4-3</td>
						<td align="center">大连市甘井子区松江路</td>
						<td align="center">事故灾难</td>
						<td align="center">一级</td>
						<td align="center">Ⅲ级响应</td>
						<td align="center">由于拉社交恐惧哥斯达黎加发科技大厦方块了和看见了收打火机看到访开两间按时</td>
					</tr>
					<tr>
						<td align="center">4</td>
						<td align="center">流感</td>
						<td align="center">2018-3-9</td>
						<td align="center">大连市开发区</td>
						<td align="center">公共卫生事件</td>
						<td align="center">一级</td>
						<td align="center">Ⅲ级响应</td>
						<td align="center">达黎加发科技大厦方块了和看见了收打火机看到访开两间按时</td>
					</tr>
					<tr>
						<td align="center">5</td>
						<td align="center">火警</td>
						<td align="center">2018-2-13</td>
						<td align="center">大连市甘井子区松江路</td>
						<td align="center">事故灾难</td>
						<td align="center">四级</td>
						<td align="center">Ⅲ级响应</td>
						<td align="center">由于拉社交恐惧哥斯达黎加发科技大厦方块了和看见了收打火机看到访开两间按时</td>
					</tr>
					<tr>
						<td align="center">6</td>
						<td align="center">火警</td>
						<td align="center">2018-1-22</td>
						<td align="center">大连市甘井子区松江路</td>
						<td align="center">事故灾难</td>
						<td align="center">三级</td>
						<td align="center">Ⅲ级响应</td>
						<td align="center">由于拉社交恐惧哥斯达黎加发科技大厦方块了和看见了收打火机看到访开两间按时</td>
					</tr>
					<tr>
						<td align="center">7</td>
						<td align="center">火警</td>
						<td align="center">2018-1-11</td>
						<td align="center">大连市甘井子区松江路</td>
						<td align="center">事故灾难</td>
						<td align="center">二级</td>
						<td align="center">Ⅲ级响应</td>
						<td align="center">由于拉社交恐惧哥斯达黎加发科技大厦方块了和看见了收打火机看到访开两间按时</td>
					</tr>
				</table>

			</div>
		</ul>
	</div>
</div>

</block>