<extend name="Layout/sub"/>
<block name="nav">应急管理 / 响应程序</block>
<block name="main">
<link rel="stylesheet" href="/Public/Home/Static/css/style2.css"/>

<div id="outer">
    <include file="Layout/left_video"/>
    <div id="content">
        <ul style="display:block;">
            <div class="data05">
                <h3>响应程序</h3>
                <div class="div">
                    <h2 style="margin: 40px 0px">
					<span style="line-height: 50px">
					（1）事发地区所在村（居）委会所谓第一响应责任单位，应在书法后启动嫌弃处置机制，有关人员赶赴现场开展警戒，疏散群众、控制现场、救护、抢险等基础处置工作；第一响应责任单位应手机现场动态信息，对初步判定属于一般及以上级别突发事件，应在事发后第一时间分别向街道应急办、街道相关专项应急领导小组或事件主管单位报告。<br/>
					（2）相关专项应急领导小组或事件主管部门对各村（居）委会及有关单位报送的初步判断为属于一般及以上级别突发事件，应快速做出综合分析，按照分级响应权限通知相关单位，并立即组织专业人员前往事件现场。<br/>
					（3）突发事件应急处置指挥系统启动后，专项应急领导小组或时间主管部门应根据专项应急预案，及时进行处置，适时调用相关应急保障组。<br/>
					</span>
                    </h2>
                </div>
            </div>
        </ul>
    </div>
</div>

</block>