<extend name="Layout/sub"/>
<block name="nav">应急管理 / 应急救援队伍保障</block>
<block name="main">
<link rel="stylesheet" href="/Public/Home/Static/css/style2.css"/>

<div id="outer">
	<include file="Layout/left_video"/>
	<div id="content">
		<ul style="display:block;">
			<div class="data05">
				<h3>应急救援队伍保障</h3>
				<div class="div">
					<h1 style="margin: 40px 0px">应急救援队伍保障</h1>
					<h2 style="margin: 40px 0px">革镇堡街道建筑工程安全事故应急救援预案</h2>
					<h2 style="margin: 40px 0px">革镇堡街道人防应急预案</h2>
					<h2 style="margin: 40px 0px">革镇堡街道突发地质灾害应急预案</h2>
					<h2 style="margin: 40px 0px">安监站综合应急预案</h2>
					<h2 style="margin: 40px 0px">革镇堡交警中队道路交通事故应急预案</h2>
					<h2 style="margin: 40px 0px">革镇堡街道突发公共卫生事件应急预案</h2>
					<h2 style="margin: 40px 0px">革镇堡街道卫生应急预案领导小组</h2>
					<h2 style="margin: 40px 0px">革镇堡街道办事处食品安全事故应急预案</h2>
					<h2 style="margin: 40px 0px">革镇堡街道大规模群体事件应急预案</h2>
					<h2 style="margin: 40px 0px">革镇堡街道环境污染应急预案</h2>
					<h2 style="margin: 40px 0px">革镇堡街道突发社会安全事件应急预案</h2>
					<h2 style="margin: 40px 0px">革镇堡消防中队火灾救援应急预案</h2>
				</div>

			</div>
		</ul>
	</div>
</div>

</block>