<extend name="Layout/base" />
<block name="main">

<div class="jjgz">

	<div class="jjgz1">
		<h1>基本指标</h1>
		<ul>
			<li>
				<a href="{$Think.const.HOST_NAME}/Home/Economic/shxf/sid/1">
					<i class="fa fa-bar-chart fa-2x"></i><p>地区生成总值</p>
				</a>
			</li>
			<li>
				<a href="{$Think.const.HOST_NAME}/Home/Economic/shxf/sid/2">
					<i class="fa fa-cny fa-2x"></i><p>财政收入</p>
				</a>
			</li>
			<li>
				<a href="{$Think.const.HOST_NAME}/Home/Economic/shxf/sid/3">
					<i class="fa fa-area-chart fa-2x"></i><p>规上工业总产值</p>
				</a>
			</li>
			<li>
				<a href="{$Think.const.HOST_NAME}/Home/Economic/shxf/sid/4">
					<i class="fa fa-external-link fa-2x"></i><p>固定资产投资</p>
				</a>
			</li>
			<li>
				<img src="/Public/Home/Static/images/timg.gif">
				<a href="{$Think.const.HOST_NAME}/Home/Economic/shxf/sid/5">
					<i class="fa fa-shopping-cart fa-2x"></i><p>社会消费品零售额</p>
				</a>
			</li>
			<li>
				<a href="{$Think.const.HOST_NAME}/Home/Economic/shxf/sid/6">
					<i class="fa fa-calendar fa-2x"></i><p>使用内资</p>
				</a>
			</li>
			<li>
				<a href="{$Think.const.HOST_NAME}/Home/Economic/shxf/sid/7">
					<i class="fa fa-random fa-2x"></i><p>引进外资</p>
				</a>
			</li>
		</ul>
	</div>
   
	<div class="jjgz2">
		<h1>重点项目</h1>
		<ul>
			<li>
				<img src="/Public/Home/Static/images/timg.gif">
				<a href="{$Think.const.HOST_NAME}/Home/Economic/fdcl/sid/1">
					<i class="fa fa-building fa-2x"></i><p>房地产类</p>
				</a>
			</li>
          
			<li>
				<a href="#">
					<i class="fa fa-globe fa-2x"></i><p>城市建设类</p>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-user-circle fa-2x"></i><p>民生类</p>
				</a>
			</li>
		</ul>
	</div>
   
	<div class="jjgz4">
		<h1>重点企业</h1>
			<ul>
				<li>
					<a href="{$Think.const.HOST_NAME}/Home/Economic/zdqy">
					<i class="fa fa-sort-amount-desc fa-2x"></i><p>各个基本指标贡献前十排名</p>
				</a>
			</li>
		</ul>
	</div>
   
	<div class="jjgz3">
		<h1>招商引资</h1>
		<ul>
			<li>
				<a href="{$Think.const.HOST_NAME}/Home/Economic/zsyzJh">
					<i class="fa fa-file-text-o fa-2x"></i><p>计划</p>
				</a>
			</li>
			<li>
				<a href="{$Think.const.HOST_NAME}/Home/Economic/zsyzSjqk">
					<i class="fa fa-calendar-check-o fa-2x"></i><p>完成情况</p>
				</a>
			</li>
			<li>
				<img src="/Public/Home/Static/images/timg.gif">
				<a href="{$Think.const.HOST_NAME}/Home/Economic/zsyzCzwt">
					<i class="fa fa-question-circle-o fa-2x"></i><p>存在问题</p>
				</a>
			</li>
		</ul>
	</div>

</div>

</block>
