<ul id="tab">
	<li><a href="/index.php/Home/Treat/basicrf">综治办社会治安防控体系建设工作基础数据（人防体系）</a></li>
	<li><a href="/index.php/Home/Treat/basicjf">综治办社会治安防控体系建设工作基础数据（技防体系）</a></li>
	<li><a href="/index.php/Home/Treat/basicwf">综治办社会治安防控体系建设工作基础数据（物防体系）</a></li>
	<li><a href="/index.php/Home/Treat/special">综治办特殊人群管理工作数据</a></li>
	<li><a href="/index.php/Home/Treat/student">综治办校园安全管理工作数据</a></li>
	<li><a href="/index.php/Home/Treat/road">综治办铁路护路队伍数据</a></li>
	<li><a href="/index.php/Home/Treat/cases">综治办各类治安案件数据</a></li>
	<!--{* <li><a href="/index.php/Home/Treat/feedback">部门建议</a></li> *}-->
</ul>