<ul id="tab">
	<li><a href="/index.php/Home/City/chengjianxiangmu">城建项目</a></li>
	<li><a href="/index.php/Home/City/yicunyijing">一村一景</a></li>
	<li><a href="/index.php/Home/City/lvhua">绿化</a></li>
	<li><a href="/index.php/Home/City/saobao">环卫扫保</a></li>
	<li><a href="/index.php/Home/City/weijian">违建项目</a></li>
	<li><a href="/index.php/Home/City/gonglu">交通</a></li>
	<li><a href="/index.php/Home/City/wuyeguanli">物业管理</a></li>
	<!--{* <li><a href="/index.php/Home/City/feedback">部门建议</a></li> *}-->
	<li><a href="/index.php/Home/City/chengshisafe">安全上报</a></li>
</ul>