<ul id="tab">
	<li><a href="/index.php/Home/Focus/total_progress">进度总览</a></li>
	<li><a href="/index.php/Home/Focus/task_list">任务列表</a></li>
	<li><a href="/index.php/Home/Focus/task_ing">反馈进展</a></li>
	<li><a href="/index.php/Home/Focus/task_more_department">跨部门合作</a></li>
	<li><a href="/index.php/Home/Focus/task_delay">延期申请</a></li>
	<li><a href="/index.php/Home/Focus/task_zhenggai">整改工作</a></li>
	<li><a href="/index.php/Home/Focus/task_finished">办结评价</a></li>
	<li><a href="/index.php/Home/Focus/focus_event" target="_blank">督办系统</a></li>
	<!--{* <li><a href="/index.php/Home/Focus/feedback">部门建议</a></li> *}-->
	<li><a href="/index.php/Home/Focus/advicelist">领导批示</a></li>
</ul>