<extend name="Layout/sub" />
<block name="nav">民生保障 / 待遇资格认证人员</block>
<block name="main">

<script type="text/javascript" src="/Public/{$Think.const.MODULE_NAME}/{$Think.const.CONTROLLER_NAME}/{$Think.const.ACTION_NAME}.js"></script>
<script type="text/javascript" src="__PUBLIC__/Common/echars/shine.js"></script>

<div id="outer">
	<include file="Layout/left_people"/>
    <div id="content"> 
    <ul style="display:block;">
            <div class="aqsc">
                <h3>待遇资格认证人员表</h3>
                <div class="div">  	
    <table border=0 width="100%" cellpadding="0" cellspacing="0">
       <h2 style=" font-weight:normal; margin-bottom:10px;" align="center">2018 年待遇资格认证人员情况统计报表</h2>
			  <tr>
			    <td colspan="2" rowspan="3" style="padding:0;"><img src="/Public/Home/Static/images/table.png" width="100%"></td>
			    <td colspan="10">人员变动情况统计</td>
			    <td rowspan="3">本月末管理人数</td>
			  </tr>
			  <tr>
			    <td colspan="5">其中：增加人数</td>
			    <td colspan="5">其中：减少人数</td>
			  </tr>
			  <tr>
			    <td>小计</td>
			    <td>新接收人数</td>
			    <td>跨区转入</td>
			    <td>区内转入</td>
			    <td>其他</td>
			    <td>小计</td>
			    <td>死亡</td>
			    <td>跨区转出</td>
			    <td>区内转出</td>
			    <td>其他</td>
			  </tr>
			  <tr>
			    <td colspan="2">甲</td>
			    <td>2</td>
			    <td>3</td>
			    <td>4</td>
			    <td>5</td>
			    <td>6</td>
			    <td>7</td>
			    <td>8</td>
			    <td>9</td>
			    <td>10</td>
			    <td>11</td>
			    <td>12</td>
			  </tr>
			  <tr>
			    <td>事业</td>
			    <td>退休人员</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>104</td>
			  </tr>
			  <tr>
			    <td>单位</td>
			    <td>遗属</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>10</td>
			  </tr>
			  <tr>
			    <td> 医</td>
			    <td>工伤人员</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			  </tr>
			  <tr>
			    <td> 保</td>
			    <td>工伤遗属</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			  </tr>
			  <tr>
			    <td>　</td>
			    <td>老年居民</td>
			    <td>　</td>
			    <td>1</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>11</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>2314</td>
			  </tr>
			  <tr>
			    <td colspan="2">　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			  </tr>
			  <tr>
			    <td colspan="2">合计</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>　</td>
			    <td>2428</td>
			  </tr>
			</table>
             </div>
            </div>
        </ul>
    </div>
</div>
</block>	
