/* CSS Document */
body{ margin:0; padding:0; font-size:1.5em; }
ul,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6{ margin:0; padding:0;}
a{ text-decoration:none; color:#000;}
li{ list-style:none}

/*首页*/
.top{width:96%;padding:5px 2%; background-color:#5a93cf; float:left;}
.index_1{width:96%;height:auto; overflow:hidden; background-color:#FFF; padding:10px 2%; float:left;}
.index_1 .input1{width:60%;height:35px; background:#5a93cf url(../images/search.png) no-repeat right; color:#FFF;border:0;border-radius:5px; margin-top:15px; margin-right:5%; float:right;}
.index_1 p{width:100%; font-size:65%; line-height:40px; margin-top:10px; float:left;}
.index_1 img{ float:left}
.index_2{width:100%;height:auto; overflow:hidden;font-size:65%; line-height:1.5em; float:left;}
.index_2 li{margin:10px 2%;border:1px solid #FFF;padding:5px; color:#FFF;
  display: inline-block;
  width: 42%;
  position: relative; vertical-align:bottom;
 }
.index_2 img{width:100%;height:120px}
.index_2 font{ font-size:70%; float:right;} 
.index_2 a{ color:#FFF;}
.index_3{width:96%; margin:10px 2%; float:left;}
.index_3 img{width:100%;}

.bottom{width:100%; margin-bottom:10px; float:left;}
.bottom img{width:20%; margin-left:3%; margin-right:1%; float:left;}

/*轮换图*/
.addWrap{ position:relative; width:100%;background:#fff;margin:0; padding:0; float:left;}
.addWrap .swipe{overflow: hidden;visibility: hidden;position:relative;}
.addWrap .swipe-wrap{overflow:hidden;position:relative;}
.addWrap .swipe-wrap > div {float: left;width: 100%;position:relative;}
#position{ position:absolute; bottom:0; right:0; padding-right:8px; margin:0; background:#000; opacity: 0.4; width:100%; filter: alpha(opacity=50);text-align:right;}
#position li{width:10px;height:10px;margin:0 2px;display:inline-block;-webkit-border-radius:5px;border-radius:5px;background-color:#AFAFAF;}
#position li.cur{background-color:#FF0000;}
.img-responsive { display: block; max-width:100%;height: auto;}

/*登录 注册*/
.register{width:100%;height:auto; overflow:hidden; text-align:center; float:left;}
.register h1{width:100%;font-size:100%;color:#FFF; text-align:center; margin:15px 0; float:left}
.register .input1{width:70%;height:35px;border:0; background-color:#FFF; margin:15px 14%;padding:0 1%; font-size:70%; color:#666; line-height:35px; float:left;}
.register .denglu{width:70%;height:35px;border:0; background-color:#ff9e06; color:#FFF; line-height:35px; margin:15px 15%; font-size:90%; float:left;}
.register .zhuce{width:70%;height:35px;border:0; background-color:#ff5800; color:#FFF; line-height:35px; margin:15px 15%;font-size:90%; float:left;}
.register img{ margin-top:15px}

/*产品详情*/
.product{width:96%; padding:2%;float:left;}
.product h1{width:100%; font-size:70%; float:left;}
.product h2{width:100%; font-size:80%; color:#fd4d00; margin:15px 0; float:left;}
.product1{width:100%;border-top:5px solid #efefef;font-size:70%;padding:10px 0;float:left;}
.product2{width:100%;padding:10px 0; float:left;}.product2 li{border:1px solid #CCC;padding:10px; font-size:65%;border-radius:5px; margin:10px; float:left;}
.product2 a{ color:#333;}
.product2 .cur{border:1px solid #fd4d00}
.product3{width:100%;border-top:1px solid #CCC;border-bottom:1px solid #CCC;padding:10px 0; font-size:70%; float:left;}
.input-number {width: 60px;padding: 0 12px;vertical-align: top;text-align: center;outline: none;}
.input-number,.input-number-decrement,.input-number-increment {border: 1px solid #cccccc;height: 40px;user-select: none;}
.input-number-decrement,.input-number-increment {display: inline-block;width: 50px;line-height: 38px;
background: #f1f1f1;color: #444444;text-align: center;font-weight: bold;cursor: pointer;}
.input-number-decrement:active,.input-number-increment:active {background: #dddddd;}
.input-number-decrement {border-right: none;border-radius: 0px 0 0 0px;}
.input-number-increment {border-left: none;border-radius: 0 0px 0px 0;}
.button1{width:100px;height:40px; line-height:30px; font-size:90%; background-color:#F90; margin:20px;border:0; color:#FFF;}
.button2{width:120px;height:40px; line-height:30px; font-size:90%; background-color:#C00;border:0; color:#FFF;}
.product4{width:100%;height:auto; overflow:hidden; float:left;}
.product4 h1{width:100%; text-align:center; font-size:90%; margin:10px 0; float:left;}
.product4 img{ width:100%;}
.product4 p{ font-size:65%; line-height:1.5em;}

/*最新资讯  资讯内页*/
.news{width:96%; padding:2%;float:left;}
.news dl{width:100%;border-bottom:1px solid #CCC; padding-bottom:10px; margin-top:10px; float:left;}
.news dt{width:5%; float:left;}
.news dt img{ width:100%;}
.news dd{width:93%; margin-left:2%; float:left;}
.news dd span{ display:block; font-size:70%;font-weight:bold}
.news dd p{ font-size:65%; display:block; line-height:1.5em;}
.news dd font{font-size:60%; display:block; color:#666; margin:5px;}
.page{width:100%; text-align:center; font-size:70%; margin:15px 0; float:left;}
.news h1{width:100%; font-size:70%; display:block; margin:10px 0; float:left;}
.news h6{width:100%; font-size:60%; display:block; margin:10px 0; font-weight:normal; color:#666; float:left;}
.news p{ font-size:65%; line-height:1.5em; margin-top:10px; display:block;}
.news p img{max-width:100%;}

/*联系我们*/
.contact{width:96%; padding:2%;float:left;}
.contact li{width:100%;margin:10px 0; display:block; font-size:80%; line-height:32px; float:left;}
.contact img{ float:left; margin-right:10px;}
.contact h1{width:100%; font-size:90%; margin-top:20px; float:left;}
.contact textarea{ width:98%;height:150px; margin-top:10px; background-color:#ebebeb; padding:5px;border:0; float:left;}
.button3{width:100px;height:40px; line-height:30px; font-size:90%; background-color:#F90;border:0; float:right; margin:15px 0;color:#FFF;}

/*个人中心*/
.personal{width:100%;float:left;}
.personal li{width:96%;margin-top:10px; padding:3% 2%;font-size:80%; background-color:#FFF; float:left;}
.personal a{ color:#000;}
.personal li img{ float:left; margin-right:10px;width:7%;}
.personal li span img{  float:right;}
.personal_1{width:90%;height:100px; background-image:url(../images/pic7.jpg); background-size:100% 100%; margin-top:1px; padding:30px 5%; float:left;}
.personal_1 img{width:90px;height:90px;border:5px solid #FFF;border-radius:5px; margin-right:20px; float:left;}
.personal_1 p{ font-size:80%; color:#FFF; line-height:1.5em;}

/*我的留言*/
.message{width:96%; padding:2%; background-color:#FFF; margin-top:10px;float:left;}
.message dl{width:100%;border-bottom:1px solid #CCC; font-size:65%; line-height:1.5em;padding-bottom:15px; margin-top:15px; float:left;}
.message dt{width:100%; float:left;}
.message dd{width:90%; margin:10px 0 0 8%;border:1px solid #CCC; background-color:#e9e9e9;padding:5px; float:left;}

/*个人信息*/
.information{width:96%; padding:2%; background-color:#FFF; margin-top:10px;float:left;}
.information li{width:100%;padding:10px 0;font-size:70%; float:left;}
.information li b{float:left; line-height:30px;margin-right:10px;}
.input1{width:50%;height:30px;font-size:70%;float:left;}
.information select{width:30%;height:35px; font-size:80%;}
input[type=radio].radio {width:12%;opacity:0; display:inline-block;float:left;}
label.radio {width:12%;background:url(../images/radio_2.jpg) no-repeat;padding-left:7%;background-size:28%;height:1.5em;line-height:1.5em; margin-left:-7%; margin-top:1%; float:left;}
input[type=radio].radio:checked + .radio {background:url(../images/radio_1.jpg) no-repeat;background-size:28%; float:left;}
#f{width:70px;}

/*收货地址*/
.address{width:100%;background-color:#FFF; margin-top:10px;float:left;}
.address dl{width:96%;border-bottom:5px solid #CCC; font-size:65%; line-height:1.5em;padding:0 2% 15px; margin-top:15px; float:left;}
.address dt{width:100%; line-height:30px; float:left;}
.address dt span{ margin-left:20px;}
.address dt img{ float:left;}
.address dd{float:left; line-height:1.5em;border-bottom:1px solid #CCC; padding-bottom:10px;margin-bottom:10px; width:100%;}
.button4{width:100%;height:40px; line-height:30px; font-size:90%;border:0; background-color:#F90; float:left; margin-top:15px;color:#FFF;}
input[type=checkbox].checkbox {width:10%;opacity:0; display:inline-block; margin-left:2%;float:left;}
label.checkbox {width:25%;background:url(../images/checkbox_2.jpg) no-repeat;padding-left:7%;background-size:20%;height:2em;line-height:1.5em; margin-left:-7%; margin-top:1%; float:left;}
input[type=checkbox].checkbox:checked + .checkbox {background:url(../images/checkbox_1.jpg) no-repeat;background-size:20%; float:left;}
.address img{ float:left;}
.address a{ line-height:30px; float:right; margin-top:5px;}

/*站内信*/
.mail{width:100%;background-color:#FFF; margin-top:10px;float:left;}
.mail li{width:96%; background-color:#f3f3f3;padding:2%; margin-top:10px; font-size:70%; float:left;}
.mail li span{ float:right;margin-left:15px; font-size:80%;}
.mail li font{ float:right; font-size:80%; color:#F00; margin-left:15px;}
.mail li img{ margin-right:10px;}

/*商品分类*/
.classify1{width:96%; background-color:#FFF; padding:2% 2%;border-bottom:1px solid #CCC; float:left;}
.input2{width:80%;height:35px; margin-right:10px; float:left;}
.classify2{width:96%; background-color:#FFF; padding:2% 2%; float:left;}
.classify2 li{  margin:10px 15px; font-size:70%; float:left;}

/*订单详情*/
.order{width:96%; padding:2%; background-color:#FFF; margin-top:10px; float:left;}
.order h2{font-size:80%; width:100%; float:left; margin:10px 0;}
.order h2 span{ color:#ff9e06;}
.order1{width:100%;border-bottom:1px solid #CCC;border-top:1px solid #CCC; padding:15px 0; float:left;}
.order1 img{width:20%;border:1px solid #999; float:left;}
.order1 p{width:75%; margin-left:4%; float:left; line-height:1.5em; font-size:70%;}
.order1 p b{ display:block;}
.order1 p font{ width:100%; color:#ff4400; float:right; font-size:130%;}
.order2{width:100%;border-bottom:1px solid #CCC;padding-bottom:10px; font-size:70%; margin-bottom:10px; float:left;}
.order2 dl{ width:100%; margin:10px 0; float:left;}
.order2 dt{width:15%; float:left;}
.order2 dd{width:85%; float:left;}

/*订单管理*/
.order3{width:100%;float:left;}
.order3 ul{ width:100%; margin-bottom:10px; float:left;}
.order3 li{margin:10px 15px; font-size:70%; float:left;}
.order3 a{ color:#267dc1}
.order3 select{height:36px; margin-right:10px; font-size:70%; float:left;}
.order4{width:96%; background-color:#e9e9e9; font-size:65%; padding:5px 2%;border-top:1px solid #b2b2b2; float:left;line-height:1.5em;}
.order5{width:100%; float:left; background-color:#FFF;}
.order5 dl{width:100%;border-bottom:1px solid #b2b2b2; font-size:65%; float:left;}
.order5 dt{width:75%; float:left;}
.order5 td{padding:5px;border-right:1px solid #b2b2b2;border-top:1px solid #b2b2b2;}
.order5 td img{width:40px;}
.order5 td font{ color:#666}
.order5 dd{width:25%;height:100%; text-align:center;display: inline-block;border-top:1px solid #b2b2b2; line-height:1.5em;padding-top:10px;}
.order5 dd a{ margin:10px 0;}
.order5 span{ float:right; margin:10px; font-size:80%;}
.order5 span b{ color:#ff4400}

/*购物车*/
.cart1{width:100%; font-size:70%; float:left;}
.cart1 li{width:100%; text-align:center;padding:10px 0; float:left;}
.cart1 li span{width:25%; float:right; text-align:center;}
.cart1 .cur{ background-color:#ff9f09; color:#FFF;}
.cart2{width:100%; background-color:#FFF; float:left;}
.cart2 table{ background-color:#e9e9e9;font-size:65%;}
.cart2 td{padding:5px; background-color:#FFF;}
.cart2 td img{width:40px;}
.cart2 .input3{width:30px; margin:15px 0;text-align:center;}
.cart2 span{ float:right; margin:10px; font-size:80%;}
.cart2 span b{ color:#ff4400}

//底部导航栏
.bottom{width:100%;height:70px; bottom:0; position:fixed;padding:10px 0;  background-color:#5a93cf; float:left;}
.bottom img{width:50px; margin-left:9%;float:left;}
